
h2{
    color: #707070;
}

.logo{
    width:  90px;
    height: 47px;
}


.horizontal_barre{
    background-color: #16D964;
}

.nav{
    border-bottom-color: #707070;
}

.nav_item{
    border-right-color: #707070;
}

.nav div{
    width: 18%;
}

.nav_element, a{
    text-decoration: none;
    color: #707070;
}

.barre_entre_menu{
    border-left-style:solid;
    border-left-color: #707070;
    padding-left: 4px;
}

.footer {
    background-color: #707070;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    /* position: fixed; */
}

.footer div div a{
    color: white;
    font-weight: bold;
}

.footer div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.categorie_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

h4{
    text-align: center;
    color: #707070;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
}

.selected{
    color: #16D964;
}