.cardProduct{
    display: flex;
    flex-direction: column;
    border: #707070 solid 1px;
    width: 17%;
    min-width: 17%;
    height: auto;
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 1%;
    border-radius: 20px;
}

.imgProduct{
    width:  100px;
    height: auto;
}

.containerImgProduct{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.titleProduct{
    color: #16D964;
    font-size: 20px;
    font-weight:bold;
    margin: 0;
}

.indicationProduct{
    color: #707070;
    font-size: 16px;
    font-weight:bold;
    margin-top: 6px;
}

.commentProduct{
    color: #707070;
}